.background{
  width: 100%;
  height: 400px;
  background-image: url("./weather-wind.gif");
  background-size:cover;

}

.title{
  text-align: center;
  height: auto;
  margin: auto;
  font-family: Baskerville;
  color: #fff;
  font-size: 60px;
  padding: 1px;
  letter-spacing: 2px;
}


.text1{
 text-align: center;
 font-family: Baskerville;
 color: #fff;
 font-size: 30px;
 letter-spacing: 1px;
}