<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Project 3 Sources</title>
    <!-- AniCollection.css library -->
    <link rel="stylesheet" href="/javascript/css/anicollection.css">
    <!--Sources CSS-->
    <link rel="stylesheet" type="text/css" href="/javascript/css/sources.css">
</head>
<div class="main">
    <h1>Sources</h1>
    <a href="https://www.ncei.noaa.gov/data/local-climatological-data/doc/LCD_documentation.pdf">NOAA Climate Data</a>
    <a href="https://www.ncei.noaa.gov/cdo-web/">LCD Documentation from NOAA</a>
    <a href="https://anijs.github.io/">AniJS</a>
    <a href="https://leafletjs.com/">Leaflet</a>
    <a href="https://d3js.org/">D3</a>
    <a href="https://wallpapers.com/wallpapers/burning-temperature-of-the-sun-b14hsxx2jppt7gua.html">Home Page and Source Page Background</a>
    <a href="https://tenor.com/view/weather-wind-weather-forecast-gif-17384272">Charts Page Header</a>
</div>
<div class="navbar"></div>
<div class="menu"></div>
<body>
<script src="../anijs-min.js"></script>
</body>
</html>